In [68]:
import pandas as pd
import numpy as np
from keras.models import Sequential
from keras.layers import Dense, LSTM, Dropout
from keras.layers.core import Dense, Activation, Dropout
from sklearn.preprocessing import MinMaxScaler
import matplotlib.pyplot as plt

In [69]:
df = pd.read_csv('dataset.csv')
del df['Unnamed: 0']

In [70]:
df

                date  number      name div       a
0         2008-01-01   150.0  서울역(150)  승차   234.0
1         2008-01-01   150.0  서울역(150)  승차  -420.0
2         2008-01-01   150.0  서울역(150)  승차  -318.0
3         2008-01-01   150.0  서울역(150)  승차  -161.0
4         2008-01-01   150.0  서울역(150)  승차  -205.0
5         2008-01-01   150.0  서울역(150)  승차    13.0
6         2008-01-01   150.0  서울역(150)  승차   538.0
7         2008-01-01   150.0  서울역(150)  승차   632.0
8         2008-01-01   150.0  서울역(150)  승차   604.0
9         2008-01-01   150.0  서울역(150)  승차   808.0
10        2008-01-01   150.0  서울역(150)  승차   565.0
11        2008-01-01   150.0  서울역(150)  승차   774.0
12        2008-01-01   150.0  서울역(150)  승차  1292.0
13        2008-01-01   150.0  서울역(150)  승차   927.0
14        2008-01-01   150.0  서울역(150)  승차  1205.0
15        2008-01-01   150.0  서울역(150)  승차  1133.0
16        2008-01-01   150.0  서울역(150)  승차  2229.0
17        2008-01-01   150.0  서울역(150)  승차  1840.0
18        2008-01-01   150.0  서울역(150)  승차   653.0
19        2008-01-01   150.0  서울역(150)  승차  -294.0
20        2008-01-01   151.0   시청(151)  승차    96.0
21        2008-01-01   151.0   시청(151)  승차   -27.0
22        2008-01-01   151.0   시청(151)  승차  -102.0
23        2008-01-01   151.0   시청(151)  승차  -241.0
24        2008-01-01   151.0   시청(151)  승차  -184.0
25        2008-01-01   151.0   시청(151)  승차  -258.0
26        2008-01-01   151.0   시청(151)  승차  -316.0
27        2008-01-01   151.0   시청(151)  승차  -480.0
28        2008-01-01   151.0   시청(151)  승차  -645.0
29        2008-01-01   151.0   시청(151)  승차  -470.0
...              ...     ...       ...  ..     ...
19220330  2017-09-30  2826.0        수진  승차    34.0
19220331  2017-09-30  2826.0        수진  승차    78.0
19220332  2017-09-30  2826.0        수진  승차    60.0
19220333  2017-09-30  2826.0        수진  승차   -25.0
19220334  2017-09-30  2826.0        수진  승차  -104.0
19220335  2017-09-30  2826.0        수진  승차   -57.0
19220336  2017-09-30  2826.0        수진  승차  -175.0
19220337  2017-09-30  2826.0        수진  승차  -139.0
19220338  2017-09-30  2826.0        수진  승차  -146.0
19220339  2017-09-30  2826.0        수진  승차   -37.0
19220340  2017-09-30  2827.0     모란(8)  승차    58.0
19220341  2017-09-30  2827.0     모란(8)  승차     1.0
19220342  2017-09-30  2827.0     모란(8)  승차    11.0
19220343  2017-09-30  2827.0     모란(8)  승차    42.0
19220344  2017-09-30  2827.0     모란(8)  승차    22.0
19220345  2017-09-30  2827.0     모란(8)  승차    33.0
19220346  2017-09-30  2827.0     모란(8)  승차    99.0
19220347  2017-09-30  2827.0     모란(8)  승차   178.0
19220348  2017-09-30  2827.0     모란(8)  승차   175.0
19220349  2017-09-30  2827.0     모란(8)  승차   123.0
19220350  2017-09-30  2827.0     모란(8)  승차    61.0
19220351  2017-09-30  2827.0     모란(8)  승차    21.0
19220352  2017-09-30  2827.0     모란(8)  승차   106.0
19220353  2017-09-30  2827.0     모란(8)  승차   -45.0
19220354  2017-09-30  2827.0     모란(8)  승차     7.0
19220355  2017-09-30  2827.0     모란(8)  승차   -36.0
19220356  2017-09-30  2827.0     모란(8)  승차   -37.0
19220357  2017-09-30  2827.0     모란(8)  승차   -38.0
19220358  2017-09-30  2827.0     모란(8)  승차   -57.0
19220359  2017-09-30  2827.0     모란(8)  승차   -19.0

[19220360 rows x 5 columns]

In [73]:
df.columns

Index(['date', 'number', 'name', 'div', 'a'], dtype='object')

In [74]:
df['name']

0           서울역(150)
1           서울역(150)
2           서울역(150)
3           서울역(150)
4           서울역(150)
5           서울역(150)
6           서울역(150)
7           서울역(150)
8           서울역(150)
9           서울역(150)
10          서울역(150)
11          서울역(150)
12          서울역(150)
13          서울역(150)
14          서울역(150)
15          서울역(150)
16          서울역(150)
17          서울역(150)
18          서울역(150)
19          서울역(150)
20           시청(151)
21           시청(151)
22           시청(151)
23           시청(151)
24           시청(151)
25           시청(151)
26           시청(151)
27           시청(151)
28           시청(151)
29           시청(151)
              ...
19220330          수진
19220331          수진
19220332          수진
19220333          수진
19220334          수진
19220335          수진
19220336          수진
19220337          수진
19220338          수진
19220339          수진
19220340       모란(8)
19220341       모란(8)
19220342       모란(8)
19220343       모란(8)
19220344       모란(8)
19220345       모란(8)
19220346       모란(8)
19220347       모란(8)
19220348       모란(8)
19220349       모란(8)
19220350       모란(8)
19220351       모란(8)
19220352       모란(8)
19220353       모란(8)
19220354       모란(8)
19220355       모란(8)
19220356       모란(8)
19220357       모란(8)
19220358       모란(8)
19220359       모란(8)
Name: name, Length: 19220360, dtype: object

In [75]:
s = df['name']
s

0           서울역(150)
1           서울역(150)
2           서울역(150)
3           서울역(150)
4           서울역(150)
5           서울역(150)
6           서울역(150)
7           서울역(150)
8           서울역(150)
9           서울역(150)
10          서울역(150)
11          서울역(150)
12          서울역(150)
13          서울역(150)
14          서울역(150)
15          서울역(150)
16          서울역(150)
17          서울역(150)
18          서울역(150)
19          서울역(150)
20           시청(151)
21           시청(151)
22           시청(151)
23           시청(151)
24           시청(151)
25           시청(151)
26           시청(151)
27           시청(151)
28           시청(151)
29           시청(151)
              ...
19220330          수진
19220331          수진
19220332          수진
19220333          수진
19220334          수진
19220335          수진
19220336          수진
19220337          수진
19220338          수진
19220339          수진
19220340       모란(8)
19220341       모란(8)
19220342       모란(8)
19220343       모란(8)
19220344       모란(8)
19220345       모란(8)
19220346       모란(8)
19220347       모란(8)
19220348       모란(8)
19220349       모란(8)
19220350       모란(8)
19220351       모란(8)
19220352       모란(8)
19220353       모란(8)
19220354       모란(8)
19220355       모란(8)
19220356       모란(8)
19220357       모란(8)
19220358       모란(8)
19220359       모란(8)
Name: name, Length: 19220360, dtype: object

In [76]:
s = list(sorted(set(s))
s

['천호(5)',
 '천왕',
 '개롱',
 '구의(213)',
 '사당(433)',
 '옥수(325)',
 '송파',
 '신사(327)',
 '도곡(334)',
 '상계(410)',
 '삼각지(428)',
 '합정(6)',
 '석촌',
 '홍제(314)',
 '신정네거리(249)',
 '녹번(313)',
 '산성',
 '마들',
 '수진',
 '노원(7)',
 '효창공원앞',
 '남부터미널(331)',
 '도봉산(7)',
 '지축(309)',
 '서초(224)',
 '불광(312)',
 '양재(332)',
 '까치산(5)',
 '길동',
 '강남구청',
 '상월곡',
 '선릉(220)',
 '구파발(310)',
 '새절',
 '수락산',
 '낙성대(227)',
 '신설동(246)',
 '잠원(328)',
 '용마산',
 '이촌(430)',
 '버티고개',
 '석계(6)',
 '충정로(243)',
 '상도',
 '강남(222)',
 '방화',
 '군자(7)',
 '동대문역사문화공원(422)',
 '왕십리(성동구청)(208)',
 '교대(223)',
 '신도림(234)',
 '면목',
 '양천구청(248)',
 '복정(8)',
 '동대문운동장(422)',
 '신설동(156)',
 '공덕(5)',
 '가락시장(8)',
 '가락시장(340)',
 '답십리',
 '이수(7)',
 '장암',
 '상일동',
 '김포공항(5)',
 '어린이대공원',
 '학동',
 '여의도(5)',
 '광명사거리',
 '망원',
 '경찰병원(341)',
 '무악재(315)',
 '애오개',
 '신천(217)',
 '강동구청',
 '교대(330)',
 '당산(237)',
 '일원(338)',
 '압구정(326)',
 '길음(417)',
 '화곡',
 '굴포천',
 '남구로',
 '경복궁(317)',
 '청구(6)',
 '신금호',
 '마장',
 '장한평',
 '삼성(219)',
 '증산',
 '오금(342)',
 '신풍',
 '마포',
 '신흥',
 '시청(201)',
 '상봉(7)',
 '녹사평',
 '약수(6)',
 '고려대',
 '모란(8)',
 '부천시청',
 '신대방(231)',
 '신답(245)',
 '서울역(150)',
 '충정로(5)',
 '아차산',
 '영등포구청(236)',
 '동대입구(322)',
 '먹골',
 '논현',
 '종로3가(153)',
 '둔촌동',
 '용두(250)',
 '구로디지털단지(232)',
 '방이',
 '잠실나루(215)',
 '독립문(316)',
 '동대문역사문화공원5',
 '온수(7)',
 '부천종합운동장',
 '이태원',
 '송정',
 '봉천(229)',
 '고속터미널(329)',
 '디지털미디어시티(6)',
 '거여',
 '봉화산',
 '대림(233)',
 '중곡',
 '개화산',
 '광화문',
 '광흥창',
 '부평구청(7)',
 '종합운동장(218)',
 '영등포구청(5)',
 '마천',
 '미아삼거리(416)',
 '신당(6)',
 '을지로3가(320)',
 '불광(6)',
 '돌곶이',
 '장지',
 '잠실(8)',
 '학여울(336)',
 '굽은다리',
 '올림픽공원',
 '오금',
 '마포구청',
 '공덕(6)',
 '중화',
 '화랑대',
 '서대문',
 '춘의',
 '연신내(6)',
 '수서(339)',
 '미아(415)',
 '암사',
 '마곡',
 '동대문역사문화공원(205)',
 '안국(318)',
 '한성대입구(419)',
 '사당(226)',
 '왕십리(208)',
 '강변(214)',
 '삼각지(6)',
 '약수(323)',
 '상왕십리(207)',
 '청담',
 '서울대입구(228)',
 '을지로4가(204)',
 '충무로(423)',
 '행당',
 '상수',
 '고속터미널(7)',
 '가산디지털단지(7)',
 '노원(411)',
 '잠실새내(217)',
 '오목교',
 '남태령(434)',
 '철산',
 '한강진',
 '하계',
 '수유(414)',
 '잠실(216)',
 '합정(238)',
 '영등포시장',
 '보문',
 '아현(242)',
 '신대방삼거리',
 '삼산체육관',
 '군자(5)',
 '수유(강북구청)(414)',
 '미아사거리(416)',
 '총신대입구(432)',
 '문래(235)',
 '동묘앞(159)',
 '방배(225)',
 '숙대입구(427)',
 '도림천(247)',
 '우장산',
 '목동',
 '신림(230)',
 '대치(335)',
 '뚝섬(210)',
 '혜화(420)',
 '동묘앞(6)',
 '공릉',
 '내방',
 '역촌',
 '을지로입구(202)',
 '보라매',
 '천호(8)',
 '신중동',
 '회현(425)',
 '홍대입구(239)',
 '신길(5)',
 '창동(412)',
 '쌍문(413)',
 '구산',
 '몽촌토성',
 '여의나루',
 '역삼(221)',
 '서울역(426)',
 '반포',
 '보문(6)',
 '신촌(240)',
 '뚝섬유원지',
 '성신여대입구(418)',
 '명일',
 '신용산(429)',
 '신정',
 '건대입구(212)',
 '고덕',
 '사가정',
 '안암',
 '건대입구(7)',
 '문정',
 '응암',
 '을지로3가(203)',
 '연신내(311)',
 '대청(337)',
 '대흥',
 '종로3가(5)',
 '종로5가(154)',
 '성수(211)',
 '단대오거리',
 '동대문운동장(205)',
 '남한산성입구',
 '종로3가(319)',
 '상동',
 '태릉입구(6)',
 '발산',
 '제기동(157)',
 '한양대(209)',
 '을지로4가(5)',
 '독바위',
 '월곡',
 '왕십리(5)',
 '명동(424)',
 '성내(215)',
 '용답(244)',
 '당고개(409)',
 '금호(324)',
 '강동',
 '창신',
 '이대(241)',
 '동대문(421)',
 '중계',
 '까치울',
 '신당(206)',
 '매봉(333)',
 '청량리(지하)(158)',
 '남성',
 '장승배기',
 '양평(5)',
 '광나루',
 '월드컵경기장',
 '청구(5)',
 '시청(151)',
 '동대문(155)',
 '대림(7)',
 '종각(152)',
 '태릉입구(7)',
 '숭실대입구',
 '동작(431)']

In [77]:
len(s)

284

In [78]:
def create_dataset(signal_data, look_back=1):
    dataX, dataY = [], []
    for i in range(len(signal_data) - look_back):
        dataX.append(signal_data[i:(i + look_back), 0])
        dataY.append(signal_data[i + look_back, 0])
    return np.array(dataX), np.array(dataY)

look_back = 7

In [79]:
s[1]

'천왕'

In [87]:
for i in range(len(s)):
    print(s[i] ,':', len(df[df['name']==s[i]]))

천호(5) : 71220
천왕 : 71220
개롱 : 71220
구의(213) : 71220
사당(433) : 71220
옥수(325) : 71220
송파 : 71220
신사(327) : 71220
도곡(334) : 71220
상계(410) : 71220
삼각지(428) : 71220
합정(6) : 71220
석촌 : 71220
홍제(314) : 71220
신정네거리(249) : 71220
녹번(313) : 71220
산성 : 71220
마들 : 71220
수진 : 71220
노원(7) : 71220
효창공원앞 : 71220
남부터미널(331) : 71220
도봉산(7) : 71220
지축(309) : 71220
서초(224) : 71220
불광(312) : 71220
양재(332) : 71220
까치산(5) : 71220
길동 : 71220
강남구청 : 71220
상월곡 : 71220
선릉(220) : 71220
구파발(310) : 71220
새절 : 71220
수락산 : 71220
낙성대(227) : 71220
신설동(246) : 71220
잠원(328) : 71220
용마산 : 71220
이촌(430) : 71220
버티고개 : 71220
석계(6) : 71220
충정로(243) : 71220
상도 : 71220
강남(222) : 71220
방화 : 71220
군자(7) : 71220
동대문역사문화공원(422) : 56600
왕십리(성동구청)(208) : 20080
교대(223) : 71220
신도림(234) : 71220
면목 : 71220
양천구청(248) : 71220
복정(8) : 71220
동대문운동장(422) : 14620
신설동(156) : 71220
공덕(5) : 71220
가락시장(8) : 71220
가락시장(340) : 56300
답십리 : 71220
이수(7) : 71220
장암 : 71220
상일동 : 71220
김포공항(5) : 71220
어린이대공원 : 71220
학동 : 71220
여의도(5) : 71220
광명사거리 : 71220
망원 : 71220
경찰병원(341) : 56240
무악재(315) : 71220
애오개 : 71220
신천(217) : 66380
강동구청 : 71220
교대(330) : 71220
당산(237) : 71220
일원(338) : 71220
압구정(326) : 71220
길음(417) : 71220
화곡 : 71220
굴포천 : 36000
남구로 : 71220
경복궁(317) : 71220
청구(6) : 71220
신금호 : 71220
마장 : 71220
장한평 : 71220
삼성(219) : 71220
증산 : 71220
오금(342) : 56280
신풍 : 71220
마포 : 71220
신흥 : 71220
시청(201) : 71220
상봉(7) : 71220
녹사평 : 71220
약수(6) : 71220
고려대 : 71220
모란(8) : 71220
부천시청 : 36000
신대방(231) : 71220
신답(245) : 71220
서울역(150) : 71220
충정로(5) : 71220
아차산 : 71220
영등포구청(236) : 71220
동대입구(322) : 71220
먹골 : 71220
논현 : 71220
종로3가(153) : 71220
둔촌동 : 71220
용두(250) : 71220
구로디지털단지(232) : 71220
방이 : 71220
잠실나루(215) : 56600
독립문(316) : 71220
동대문역사문화공원5 : 71220
온수(7) : 71220
부천종합운동장 : 36000
이태원 : 71220
송정 : 71220
봉천(229) : 71220
고속터미널(329) : 71220
디지털미디어시티(6) : 71220
거여 : 71220
봉화산 : 71220
대림(233) : 71220
중곡 : 71220
개화산 : 71220
광화문 : 71220
광흥창 : 71220
부평구청(7) : 36020
종합운동장(218) : 71220
영등포구청(5) : 71220
마천 : 71220
미아삼거리(416) : 43840
신당(6) : 71220
을지로3가(320) : 71220
불광(6) : 71220
돌곶이 : 71220
장지 : 71220
잠실(8) : 71220
학여울(336) : 71220
굽은다리 : 71220
올림픽공원 : 71220
오금 : 71220
마포구청 : 71220
공덕(6) : 71220
중화 : 71220
화랑대 : 71220
서대문 : 71220
춘의 : 36000
연신내(6) : 40
수서(339) : 71220
미아(415) : 71220
암사 : 71220
마곡 : 67800
동대문역사문화공원(205) : 56600
안국(318) : 71220
한성대입구(419) : 71220
사당(226) : 71220
왕십리(208) : 51140
강변(214) : 71220
삼각지(6) : 71220
약수(323) : 71220
상왕십리(207) : 71220
청담 : 71220
서울대입구(228) : 71220
을지로4가(204) : 71220
충무로(423) : 71220
행당 : 71220
상수 : 71220
고속터미널(7) : 71220
가산디지털단지(7) : 71220
노원(411) : 71220
잠실새내(217) : 4840
오목교 : 71220
남태령(434) : 71220
철산 : 71220
한강진 : 71220
하계 : 71220
수유(414) : 43840
잠실(216) : 71220
합정(238) : 71220
영등포시장 : 71220
보문 : 70000
아현(242) : 71220
신대방삼거리 : 71220
삼산체육관 : 36000
군자(5) : 71220
수유(강북구청)(414) : 27380
미아사거리(416) : 27380
총신대입구(432) : 71220
문래(235) : 71220
동묘앞(159) : 71220
방배(225) : 71220
숙대입구(427) : 71220
도림천(247) : 71220
우장산 : 71220
목동 : 71220
신림(230) : 71220
대치(335) : 71220
뚝섬(210) : 71220
혜화(420) : 71220
동묘앞(6) : 71220
공릉 : 71220
내방 : 71220
역촌 : 71220
을지로입구(202) : 71220
보라매 : 71220
천호(8) : 71220
신중동 : 36020
회현(425) : 71220
홍대입구(239) : 71220
신길(5) : 71220
창동(412) : 71220
쌍문(413) : 71220
구산 : 71220
몽촌토성 : 71220
여의나루 : 71220
역삼(221) : 71220
서울역(426) : 71220
반포 : 71220
보문(6) : 1220
신촌(240) : 71220
뚝섬유원지 : 71220
성신여대입구(418) : 71220
명일 : 71220
신용산(429) : 71220
신정 : 71220
건대입구(212) : 71220
고덕 : 71220
사가정 : 71220
안암 : 71220
건대입구(7) : 71220
문정 : 71220
응암 : 71220
을지로3가(203) : 71220
연신내(311) : 71220
대청(337) : 71220
대흥 : 71220
종로3가(5) : 71220
종로5가(154) : 71220
성수(211) : 71220
단대오거리 : 71220
동대문운동장(205) : 14620
남한산성입구 : 71220
종로3가(319) : 71220
상동 : 36020
태릉입구(6) : 71220
발산 : 71220
제기동(157) : 71220
한양대(209) : 71220
을지로4가(5) : 71220
독바위 : 71220
월곡 : 71220
왕십리(5) : 71220
명동(424) : 71220
성내(215) : 14620
용답(244) : 71220
당고개(409) : 71220
금호(324) : 71220
강동 : 71220
창신 : 71220
이대(241) : 71220
동대문(421) : 71220
중계 : 71220
까치울 : 36000
신당(206) : 71220
매봉(333) : 71220
청량리(지하)(158) : 71220
남성 : 71220
장승배기 : 71220
양평(5) : 71220
광나루 : 71220
월드컵경기장 : 71220
청구(5) : 71220
시청(151) : 71220
동대문(155) : 71220
대림(7) : 71220
종각(152) : 71220
태릉입구(7) : 71220
숭실대입구 : 71220
동작(431) : 71220

In [88]:
20226480 - 19220360 # 71220 * 284 - rows

1006120

In [89]:
data1 = df[df['name']==s[1]]

In [90]:
data1.columns

Index(['date', 'number', 'name', 'div', 'a'], dtype='object')

In [91]:
data1

                date  number name div      a
4860      2008-01-01  2751.0   천왕  승차   37.0
4861      2008-01-01  2751.0   천왕  승차   -1.0
4862      2008-01-01  2751.0   천왕  승차   20.0
4863      2008-01-01  2751.0   천왕  승차   41.0
4864      2008-01-01  2751.0   천왕  승차   72.0
4865      2008-01-01  2751.0   천왕  승차   38.0
4866      2008-01-01  2751.0   천왕  승차   31.0
4867      2008-01-01  2751.0   천왕  승차   24.0
4868      2008-01-01  2751.0   천왕  승차   57.0
4869      2008-01-01  2751.0   천왕  승차   38.0
4870      2008-01-01  2751.0   천왕  승차   46.0
4871      2008-01-01  2751.0   천왕  승차    6.0
4872      2008-01-01  2751.0   천왕  승차   -7.0
4873      2008-01-01  2751.0   천왕  승차   11.0
4874      2008-01-01  2751.0   천왕  승차  -10.0
4875      2008-01-01  2751.0   천왕  승차  -46.0
4876      2008-01-01  2751.0   천왕  승차  -34.0
4877      2008-01-01  2751.0   천왕  승차  -42.0
4878      2008-01-01  2751.0   천왕  승차  -64.0
4879      2008-01-01  2751.0   천왕  승차  -11.0
10100     2008-01-02  2751.0   천왕  승차   67.0
10101     2008-01-02  2751.0   천왕  승차  111.0
10102     2008-01-02  2751.0   천왕  승차  504.0
10103     2008-01-02  2751.0   천왕  승차  533.0
10104     2008-01-02  2751.0   천왕  승차  226.0
10105     2008-01-02  2751.0   천왕  승차   91.0
10106     2008-01-02  2751.0   천왕  승차   66.0
10107     2008-01-02  2751.0   천왕  승차   50.0
10108     2008-01-02  2751.0   천왕  승차   57.0
10109     2008-01-02  2751.0   천왕  승차   17.0
...              ...     ...  ...  ..    ...
19214310  2017-09-29  2751.0   천왕  승차   59.0
19214311  2017-09-29  2751.0   천왕  승차 -115.0
19214312  2017-09-29  2751.0   천왕  승차 -116.0
19214313  2017-09-29  2751.0   천왕  승차 -685.0
19214314  2017-09-29  2751.0   천왕  승차 -634.0
19214315  2017-09-29  2751.0   천왕  승차 -410.0
19214316  2017-09-29  2751.0   천왕  승차 -395.0
19214317  2017-09-29  2751.0   천왕  승차 -388.0
19214318  2017-09-29  2751.0   천왕  승차 -378.0
19214319  2017-09-29  2751.0   천왕  승차 -185.0
19219800  2017-09-30  2751.0   천왕  승차  137.0
19219801  2017-09-30  2751.0   천왕  승차   41.0
19219802  2017-09-30  2751.0   천왕  승차  236.0
19219803  2017-09-30  2751.0   천왕  승차  386.0
19219804  2017-09-30  2751.0   천왕  승차  334.0
19219805  2017-09-30  2751.0   천왕  승차  298.0
19219806  2017-09-30  2751.0   천왕  승차  274.0
19219807  2017-09-30  2751.0   천왕  승차  140.0
19219808  2017-09-30  2751.0   천왕  승차  136.0
19219809  2017-09-30  2751.0   천왕  승차   51.0
19219810  2017-09-30  2751.0   천왕  승차   60.0
19219811  2017-09-30  2751.0   천왕  승차  118.0
19219812  2017-09-30  2751.0   천왕  승차   17.0
19219813  2017-09-30  2751.0   천왕  승차 -156.0
19219814  2017-09-30  2751.0   천왕  승차 -147.0
19219815  2017-09-30  2751.0   천왕  승차 -257.0
19219816  2017-09-30  2751.0   천왕  승차 -338.0
19219817  2017-09-30  2751.0   천왕  승차 -389.0
19219818  2017-09-30  2751.0   천왕  승차 -297.0
19219819  2017-09-30  2751.0   천왕  승차  -58.0

[71220 rows x 5 columns]

In [92]:
len(data1)

71220

In [93]:
data1.shape

(71220, 5)

In [ ]:
data = data1['a']
#     data = data.value
data = data.values.astype('float32')
data = data.reshape(len(data), 1)

scaler = MinMaxScaler(feature_range=(0, 1))
data = scaler.fit_transform(data)

train_size = int(len(data) * 0.80)
test_size = len(data) - train_size

train = data[0:train_size]
test = data[train_size:len(data)]
x_train, y_train = create_dataset(train, look_back)
x_test, y_test = create_dataset(test, look_back)

x_train = np.reshape(x_train, (x_train.shape[0], x_train.shape[1], 1))
x_test = np.reshape(x_test, (x_test.shape[0], x_test.shape[1], 1))
# 모델 구성하기
model = Sequential()
model.add(LSTM(32, input_shape=(None, 1)))
model.add(Dropout(0.3))
#     model.add(Dense(64))
#     model.add(Dropout(0.3))
model.add(Dense(1))

# 모델 학습과정 설정하기
model.compile(loss='mean_squared_error', optimizer='rmsprop', metrics=['accuracy'])
hist = model.fit(x_train, y_train, epochs=10, batch_size=16)
p = model.predict(x_test)
import matplotlib.pyplot as plt

plt.plot(y_test)
plt.plot(p)
plt.legend(['testY', 'p'], loc='upper right')
plt.show()

Epoch 1/10
56969/56969 [==============================] - 50s 884us/step - loss: 0.0063 - acc: 0.0000e+00
Epoch 2/10
39904/56969 [====================>.........] - ETA: 2:11 - loss: 0.0039 - acc: 0.0000e+00

In [55]:
len(data_model)

21

In [56]:
data_model[0]